* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #fff7ed;
    color: #444;
    line-height: 1.5;
    text-align: center;
}

home li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

h1,h2 {
    color: #f97316;
    margin-bottom: 20px;
}

header {
    background-color: #f97316;
    color: white;
    padding: 30px;
}

nav {
    margin-top: 10px;
}

nav a {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    background: #fb923c;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: #fde68a;
    color: #c2410c;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

th {
    background: #22c55e;
    color: white;
    font-size: 0.9rem;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f9fafb;
}

.bloco-claro {
    background: white;
    padding: 15px;
    border-left: 4px solid #f97316;
    margin-top: 20px;
}